<!DOCTYPE HTML>
<HTML LANG="KO">

<HEAD>
    <TITLE>{% block title %} AWS / Django Web Application{% endblock %}</TITLE>
    <META charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    {% load static %}
    <SCRIPT src="{% static 'library_search_app/assets/js/jquery-3.3.1.min.js' %}"></SCRIPT>
    {% block script %}{% endblock %}
</HEAD>

<BODY>
    <header>
    </header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Logo</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">자유게시판</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Dropdown link
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </li>
        </ul>
    </nav>
    <article>
        {% block content %}{% endblock %}
    </article>
    <footer>
        <DIV ID="row">
            <DIV CLASS="col-12 center">Copyright by Digitalbooks / <A href="mailto:padomay1352.books@gmail.com">Contact
                    Us</A></DIV>
        </DIV>
    </footer>
</BODY>

</HTML>