{% extends "base.html" %}
{% load static %}
{% block title%}비밀번호 찾기{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
<div class="container mt-2">
    <div style="min-width:400px;" class="card mx-auto my-5 w-50">
        <h3 class="card-header">패스워드 찾기</h3>
        <form action="/library_search/forgot_password" method="POST" class="card-body needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label class="font-weight-bold" for="user_id">ID:</label>
                <input type="text" class="form-control" id="user_id" placeholder="Enter id" name="user_id" required>
                <div class="invalid-feedback">ID를 입력해주세요</div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" for="user_id">Email:</label>
                <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" required>
                <div class="invalid-feedback">Email을 입력해주세요</div>
                {% if error_msg %}<div class="text-danger">{{error_msg}}</div>{% endif %}
            </div>
            <button class="btn btn-primary">Email 전송</button>
        </form>
    </div>
</div>
<script>
    // Disable form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}