{% extends "base.html" %}
{% load static %}
{% block title%} HELLO {% endblock %}
{% block script %}
<script src="{% static 'assets/js/boards.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'library_search_app/assets/css/main.css' %}?ver=0.1">
{% endblock %}
{% block content %}
<div class="container mt-2">
    <form action="." method="POST" class="card-body needs-validation" novalidate>
        {% csrf_token %}
        <h3 class="card-header">패스워드 찾기</h3>
        <div class="form-group">
            <label class="font-weight-bold" for="user_id">ID:</label>
            <input type="text" class="form-control" id="user_id" placeholder="Enter id" name="user_id">
            <label class="font-weight-bold" for="user_id">Email:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
            <button class="btn btn-primary">Sign In</button>
            up</button>
        </div>
    </form>
</div>
{% endblock %}