{% extends "base.html" %}
{% load static %}

{% block title%}로그인{% endblock %}

{% block script%}
{% endblock %}

{% block content %}
<div class="container">
    <div style="min-width:400px;" class="card mx-auto my-5 w-50 ">
        <h3 class="card-header">Sign in</h3>
        <form action="." method="POST" class="card-body needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label class="font-weight-bold" for="user_id">ID</label>
                <input type="text" class="form-control" id="user_id" placeholder="Enter id" name="user_id" required>
                <div class="invalid-feedback">ID를 입력해주세요</div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" for="password">Password <a href="{% url 'forgot_password'%}">(forgot
                        password)</a></label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password"
                    required>
                <div class="invalid-feedback">패스워드를 입력해주세요</div>
            </div>
            <div class="text-danger my-1">{{msg}}</div>
            <button class="btn btn-primary">Sign In</button>
            <button type="button" class="btn btn-primary" onclick="location.href='{% url 'user_register' %}'">Sign
                up</button>
        </form>
        <script>
            // Disable form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Get the forms we want to add validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </div>
</div>
{% endblock %}