{% extends 'base.html' %}
{% load static %}
{% block title %}패스워드 변경{% endblock title %}
{% block script %}
<link rel="stylesheet" href="{% static 'library_search_app/assets/css/password_change.css' %}">
<script src="{% static 'library_search_app/assets/js/password_change.js' %}?ver=0.12"></script>
{% endblock script %}
{% block content %}

<div class="container">
    <form action="." method="POST" id="password_change_form" class="w-50 my-5 mx-auto needs-validation"
        onsubmit="return password_check();" novalidate>
        {% csrf_token %}
        <h1 class="display-4">프로필</h1>
        <div class="form-group">
            <label class="font-weight-bold" for="password">Old Password:</label>
            <input type="password" name="old_password" class="form-control form-control-lg" id="id_old_password"
                required>
            <div class="text-danger" id="password_old_result"></div>
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="password">New Password:</label>
            <input type="password" name="new_password1" class="form-control form-control-lg" id="id_new_password1"
                required>
            <div class="text-danger" id="password_new1_result"></div>
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="password">New Password Check:</label>
            <input type="password" name="new_password2" class="form-control form-control-lg" id="id_new_password2"
                required>
            <div class="text-danger mt-1" id="password_new2_result"></div>
        </div>
        <button type="submit" class="btn btn-primary">패스워드 변경</button>
    </form>
    {% if old_password_result %}
    <script>
        password_old_result = document.getElementById('password_old_result');
        password_old_result.innerHTML = "{{old_password_result}}"
    </script>
    {% endif %}
    {% if new_password_result %}
    <script>
        document.getElementById('password_new1_result').innerHTML = '{{new_password_result}}'
        </script>
    {%endif%}
</div>
{% endblock content %}