{% extends "base.html" %}
{% load static %}

{% block title%} HELLO {% endblock %}
{% block script %}
<script src="{% static 'assets/js/boards.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-2">
    <div class='jumbotron'>
        <div class="p-1 bg-light rounded-pill shadow-sm mb-4">
            <form action="{% url 'search'%}">
                <div class="input-group">
                    <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1"
                        class="form-control border-0 bg-light">
                    <div class="input-group-append">
                        <button type="submit" class="btn"> <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}